/*
*****************************
 Breaking Point 1000px Start
*****************************
*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .area {
    width: 970px;
  }
  .menu {
    width: 650px;
  }
  .single__service {
    width: 303px;
  }
  .single__service {
    width: 293px;
  }
  .single__service:nth-child(4),
  .single__service:last-child {
    margin-right: 30px;
  }
  .single-gallery {
    width: 220px;
  }
  .about-left h4,
  .about-menu h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .contact-form {
    width: 610px;
  }
  .contact-form h4,
  .contact-address h4 {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
/*
*****************************
 Breaking Point 1000px End
*****************************
*/

/*
*****************************
 Breaking Point 800px Start
*****************************
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .area {
    width: 750px;
  }
  .logo {
    width: 200px;
  }
  .menu {
    width: 80%;
  }
  .menu ul {
    top: 0;
  }
  .contact-address {
    width: 100%;
    margin-top: 30px;
  }
  .contact-form h4 {
    font-size: 30px;
  }
  .contact-address h4 {
    font-size: 30px;
  }
  .single-gallery {
    width: 165px;
  }
   .services, .single__service{
      width: 240px;
      float: left;
   }
  .services, .single__service:nth-child(3),.services, .single__service:nth-child(6),.services, .single__service:nth-child(9){
   margin-right: 0;
  }
 .services, .single__service:nth-child(4) {
   margin-right: 15px;
 } 
}
/*
*****************************
 Breaking Point 800px End
*****************************
*/

/* Breaking point 400px start */
@media screen and (min-width: 400px) and (max-width: 767px) {
  .area {
    width: 450px;
  }
  .single-gallery {
    width: 100%;
    line-height: 50px;
  }
  .page-banner h2{
     line-height: 45px;
  }
  .contact-form{
     width: 100%;
     margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .area {
    width: 320px;
  }
  .menu,
  .about-left,
  .about-menu {
    width: 100%;
  }
  .about-left {
    margin-bottom: 30px;
  }
  .about-left h4,
  .about-menu h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .menu ul {
    text-align: left;
  }
  .title h4 {
    font-size: 28px;
    margin: 25px 0;
  }
  .single__service {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-left h4,
  .about-menu h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .services .single__service{
     width: 100%;
  }
}
/* Breaking point 400px End */


